
/* ASIDE */

#main-content > aside{
        width: 250px;
        z-index: 1;
}

.aside-logo > img{
        padding: 20px;
        width: 80%;
}

.aside-nav > a{
        color: white;
        opacity: 50%;
        text-align: left;
        padding: 0 0 15px 20px;
        text-decoration: none;
        display: block;
}

.aside-nav > a:hover {
        color: white;
        opacity: 100%;
}

.aside-playlist > h3{
        color: white;
        padding: 0 0 15px 20px;
        font-size: 20px;
}

.aside-playlist > a{
        color: white;
        opacity: 50%;
        text-align: left;
        padding: 0 0 25px 20px;
        text-decoration: none;
        display: block
}

.aside-playlist > a:hover{
        color: white;
        opacity: 100%;       
}

#created-button{
        font-size: 50px;
        margin: 0 5px 0 5px;
}



/* MAIN */

#main-content{
        height: calc(100vh - 100px);
        display: flex;
        background-color: #141921;
}

#main-content > main,
#main-content > main > header{
        width: calc(100% - 250px);
}

#main-content > main > section{
        overflow-y: auto;
        height: 100%;
        padding-top: 50px;
}


/* ---------------------- */
/* HEADER-MAIN */

/* Effettua upgrade trasparente e fissa  */

#main-content > main > header{
        position: fixed;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: right;
        padding: 20px;
}

#main-content > main > header > button{
        color: white;
        background-color: transparent;
        border: 1px solid white;
        border-radius: 25px;
        padding: 10px;
}



/* NAV */

#main-content > main > section nav ul{
        display: flex;
        list-style: none;
        justify-content: center;
        flex-wrap: wrap;
}

#main-content > main > section nav ul li{
        padding: 5px 10px;
}

li > a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        margin-right: 20px;
}

.size-line{
        color: rgb(10, 207, 10);
        width: 50px;
        font-size: 50px; 
        position: relative;
        left: 40px;
        bottom: 20px;
}



/* RECENTLY PLAYED */

.album-container h2{
        color: white;
        margin: 20px 0 40px;
        font-size: 3em;
}

.album-container p{
        color: white;
        margin: 20px 0 50px;
        opacity: 50%;
}

.cards > .card{
        width: calc((100% / 6) - 20px);
        margin: 0 10px;
}

.cards > .card > img{
        width: 100%;
}

.song-or-playlist > h4,
.song-or-playlist > h5{
        color: white;
        text-align: center;
}

.song-or-playlist > h4{       
        font-size: 2em;
        margin: 20px
}

.song-or-playlist > h5{
        opacity: 50%;
}

.cover-container{

}








/* FOOTER */


footer{
        height: 100px;
        display: flex;
        justify-content: space-between;
        z-index: 2;
        background-color: #272727;
        align-items: center;
}

.player-container{
        display: flex;
        
}

footer > div > img{
        width: 60px;
        display: block;
        margin-left: 10px;
}

.player-container > div > h4,h5{
        margin-left: 10px;
        margin-top: 10px;
        color: white
}

.player-container > div > h4{
        font-size: 20px;
}

.player-container > div > h5{
        opacity: 50%;      
}

.player-container.player > i{
        font-size: 40px;
        margin: 0 20px 0 20px;
        color: white;
}

.player-container.volume > i{
        font-size: 20px;
        color: white;
        margin: 0 10px 0 10px;
}

#play-button{
        margin: 0 40px 0 40px;
}





/* DEBUG */

/* .debug #main-content,
.debug #main-content > aside,
.debug #main-content > main,
.debug footer{
        border: 2px dashed red;
} */

/* .debug #main-content{
        background-color: aquamarine;
} */

/* .debug footer{
        background-color: blueviolet;
} */

/* .debug footer > *{
        background-color: fuchsia;
} */


.debug #main-content > aside{
background-color: black;
}


/* MEDIA QUERY  */

/* TABLET */

@media screen and (max-width: 1100px) {
        .cards > .card{
                width: calc((100% / 4) - 20px);
        }


}


/* MOBILE  */

@media screen and (max-width: 700px) {
        .cards > .card{
                width: calc((100% / 2) - 20px);
        }
}

/* SMALL MOBILE */

@media screen and (max-width: 600px) {
        #main-content > main,
        #main-content > main > header{
        width: calc(100% - 80px);
        }

        #main-content > aside{
                width: 80px;
        }
}